{% extends "base.html" %}

{% block corusel %}
<div class="slider-area sidebar-slider-area bg-gray-2">
                <div class="slider-active-1 nav-style-1 dot-style-1 slider-100vh custom-d-flex custom-align-item-end">
                    <div class="single-slider single-slider-fashion3">
                        <div class="slider-animated-1">
                            <div class="row no-gutters align-items-center">
                                <div class="col-lg-6 col-md-6 col-12 col-sm-6">
                                    <div class="slider-content-11">
                                        <h1 class="animated"><span>Trending</span> Men <br>Style <span>Suit</span></h1>
                                        <p class="animated">Interactively pursue optimal "outside the box" thinking and timely communities. </p>
                                        <div class="btn-style-3 btn-hover">
                                            <a class="btn3-ptb-3 btn3-bg-white btn3-text-black animated" href="shop.html">Browse Store <i class="icofont-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12 col-sm-6">
                                    <div class="slider-single-img-9 slider-animated-1">
                                        <img class="animated" src="assets/images/slider/fashion-3-slider-1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="fashion-3-slider-img2">
                                <img class="animated" src="assets/images/slider/fashion-3-slider-2.png" alt="">
                            </div>
                            <div class="fashion-3-slider-img3">
                                <img class="animated" src="assets/images/slider/fashion-3-slider-3.png" alt="">
                            </div>
                            <div class="fashion-3-slider-img4">
                                <img class="animated" src="assets/images/slider/fashion-3-slider-4.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="single-slider single-slider-fashion3">
                        <div class="slider-animated-1">
                            <div class="row no-gutters align-items-center">
                                <div class="col-lg-6 col-md-6 col-12 col-sm-6">
                                    <div class="slider-content-11">
                                        <h1 class="animated"><span>Trending</span> Men <br>Style <span>Suit</span></h1>
                                        <p class="animated">Interactively pursue optimal "outside the box" thinking and timely communities. </p>
                                        <div class="btn-style-3 btn-hover">
                                            <a class="btn3-ptb-3 btn3-bg-white btn3-text-black animated" href="shop.html">Browse Store <i class="icofont-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12 col-sm-6">
                                    <div class="slider-single-img-9 slider-animated-1">
                                        <img class="animated" src="assets/images/slider/fashion-3-slider-1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="fashion-3-slider-img2">
                                <img class="animated" src="assets/images/slider/fashion-3-slider-2.png" alt="">
                            </div>
                            <div class="fashion-3-slider-img3">
                                <img class="animated" src="assets/images/slider/fashion-3-slider-3.png" alt="">
                            </div>
                            <div class="fashion-3-slider-img4">
                                <img class="animated" src="assets/images/slider/fashion-3-slider-4.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}

{% block content %}

        <div class="categori-banner-area section-padding-11 pt-40">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-12">
                        <div class="fashion-categore-list-2">
                            <div class="fashion3-categori-title">
                                <h3>Suit Categories</h3>
                            </div>
                            <ul>
                                <li><a href="#">Tuxedos</a></li>
                                <li><a href="#">Wedding Suits</a></li>
                                <li><a href="#">Lounge Suits</a></li>
                                <li><a href="#">Zoot Suits</a></li>
                                <li><a href="#">Single Breasted</a></li>
                                <li><a href="#">Mandarin Suits</a></li>
                                <li><a href="#">Business Suits</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-8 col-md-12">
                        <div class="banner-wrap">
                            <div class="banner-img banner-img-overflow">
                                <a href="product-details.html"><img src="assets/images/banner/banner-48.jpg" alt=""></a>
                            </div>
                            <div class="banner-content-18 banner-content-18-white banner-18-position-3">
                                <h2 class="bold">Event Special Suit</h2>
                                <h3>35% off</h3>
                                <div class="banner-btn-4 white">
                                    <a href="shop.html">Browse Collections <img class="inject-me" src="assets/images/icon-img/right-arrow-banner.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-area section-padding-11 padding-16-row-col pt-160 pb-95">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap mb-60">
                            <div class="product-img product-img-zoom mb-25 product-img-slider-active dot-style-5">
                                <a href="product-details.html">
                                    <img src="assets/images/product/product-124.jpg" alt="">
                                </a>
                                <a href="product-details.html">
                                    <img src="assets/images/product/product-125.jpg" alt="">
                                </a>
                                <a href="product-details.html">
                                    <img src="assets/images/product/product-126.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-content">
                                <h4><a href="product-details.html">Product Title</a></h4>
                                <div class="product-price">
                                    <span>$ 100</span>
                                    <span class="old-price">$ 110</span>
                                </div>
                            </div>
                            <div class="product-action-position-1 text-center">
                                <div class="product-content">
                                    <h4><a href="product-details.html">Product Title</a></h4>
                                    <div class="product-price">
                                        <span>$ 100</span>
                                        <span class="old-price">$ 110</span>
                                    </div>
                                </div>
                                <div class="product-action-wrap">
                                    <div class="product-action-cart">
                                        <button title="Add to Cart">Add to cart</button>
                                    </div>
                                    <button data-toggle="modal" data-target="#exampleModal"><i class="icon-zoom"></i></button>
                                    <button title="Add to Compare"><i class="icon-compare"></i></button>
                                    <button title="Add to Wishlist"><i class="icon-heart-empty"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap mb-60">
                            <div class="product-img product-img-zoom mb-25 product-img-slider-active dot-style-5">
                                <a href="product-details.html">
                                    <img src="assets/images/product/product-125.jpg" alt="">
                                </a>
                                <a href="product-details.html">
                                    <img src="assets/images/product/product-125.jpg" alt="">
                                </a>
                                <a href="product-details.html">
                                    <img src="assets/images/product/product-126.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-content">
                                <h4><a href="product-details.html">Product Title</a></h4>
                                <div class="product-price">
                                    <span>$ 100</span>
                                    <span class="old-price">$ 110</span>
                                </div>
                            </div>
                            <div class="product-action-position-1 text-center">
                                <div class="product-content">
                                    <h4><a href="product-details.html">Product Title</a></h4>
                                    <div class="product-price">
                                        <span>$ 100</span>
                                        <span class="old-price">$ 110</span>
                                    </div>
                                </div>
                                <div class="product-action-wrap">
                                    <div class="product-action-cart">
                                        <button title="Add to Cart">Add to cart</button>
                                    </div>
                                    <button data-toggle="modal" data-target="#exampleModal"><i class="icon-zoom"></i></button>
                                    <button title="Add to Compare"><i class="icon-compare"></i></button>
                                    <button title="Add to Wishlist"><i class="icon-heart-empty"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap mb-60">
                            <div class="product-img product-img-zoom mb-25 product-img-slider-active dot-style-5">
                                <a href="product-details.html">
                                    <img src="assets/images/product/product-126.jpg" alt="">
                                </a>
                                <a href="product-details.html">
                                    <img src="assets/images/product/product-125.jpg" alt="">
                                </a>
                                <a href="product-details.html">
                                    <img src="assets/images/product/product-126.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-content">
                                <h4><a href="product-details.html">Product Title</a></h4>
                                <div class="product-price">
                                    <span>$ 100</span>
                                    <span class="old-price">$ 110</span>
                                </div>
                            </div>
                            <div class="product-action-position-1 text-center">
                                <div class="product-content">
                                    <h4><a href="product-details.html">Product Title</a></h4>
                                    <div class="product-price">
                                        <span>$ 100</span>
                                        <span class="old-price">$ 110</span>
                                    </div>
                                </div>
                                <div class="product-action-wrap">
                                    <div class="product-action-cart">
                                        <button title="Add to Cart">Add to cart</button>
                                    </div>
                                    <button data-toggle="modal" data-target="#exampleModal"><i class="icon-zoom"></i></button>
                                    <button title="Add to Compare"><i class="icon-compare"></i></button>
                                    <button title="Add to Wishlist"><i class="icon-heart-empty"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap mb-60">
                            <div class="product-img product-img-zoom mb-25 product-img-slider-active dot-style-5">
                                <a href="product-details.html">
                                    <img src="assets/images/product/product-127.jpg" alt="">
                                </a>
                                <a href="product-details.html">
                                    <img src="assets/images/product/product-125.jpg" alt="">
                                </a>
                                <a href="product-details.html">
                                    <img src="assets/images/product/product-126.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-content">
                                <h4><a href="product-details.html">Product Title</a></h4>
                                <div class="product-price">
                                    <span>$ 100</span>
                                    <span class="old-price">$ 110</span>
                                </div>
                            </div>
                            <div class="product-action-position-1 text-center">
                                <div class="product-content">
                                    <h4><a href="product-details.html">Product Title</a></h4>
                                    <div class="product-price">
                                        <span>$ 100</span>
                                        <span class="old-price">$ 110</span>
                                    </div>
                                </div>
                                <div class="product-action-wrap">
                                    <div class="product-action-cart">
                                        <button title="Add to Cart">Add to cart</button>
                                    </div>
                                    <button data-toggle="modal" data-target="#exampleModal"><i class="icon-zoom"></i></button>
                                    <button title="Add to Compare"><i class="icon-compare"></i></button>
                                    <button title="Add to Wishlist"><i class="icon-heart-empty"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap mb-60">
                            <div class="product-img product-img-zoom mb-25 product-img-slider-active dot-style-5">
                                <a href="product-details.html">
                                    <img src="assets/images/product/product-128.jpg" alt="">
                                </a>
                                <a href="product-details.html">
                                    <img src="assets/images/product/product-125.jpg" alt="">
                                </a>
                                <a href="product-details.html">
                                    <img src="assets/images/product/product-126.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-content">
                                <h4><a href="product-details.html">Product Title</a></h4>
                                <div class="product-price">
                                    <span>$ 100</span>
                                    <span class="old-price">$ 110</span>
                                </div>
                            </div>
                            <div class="product-action-position-1 text-center">
                                <div class="product-content">
                                    <h4><a href="product-details.html">Product Title</a></h4>
                                    <div class="product-price">
                                        <span>$ 100</span>
                                        <span class="old-price">$ 110</span>
                                    </div>
                                </div>
                                <div class="product-action-wrap">
                                    <div class="product-action-cart">
                                        <button title="Add to Cart">Add to cart</button>
                                    </div>
                                    <button data-toggle="modal" data-target="#exampleModal"><i class="icon-zoom"></i></button>
                                    <button title="Add to Compare"><i class="icon-compare"></i></button>
                                    <button title="Add to Wishlist"><i class="icon-heart-empty"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap mb-60">
                            <div class="product-img product-img-zoom mb-25 product-img-slider-active dot-style-5">
                                <a href="product-details.html">
                                    <img src="assets/images/product/product-129.jpg" alt="">
                                </a>
                                <a href="product-details.html">
                                    <img src="assets/images/product/product-125.jpg" alt="">
                                </a>
                                <a href="product-details.html">
                                    <img src="assets/images/product/product-126.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-content">
                                <h4><a href="product-details.html">Product Title</a></h4>
                                <div class="product-price">
                                    <span>$ 100</span>
                                    <span class="old-price">$ 110</span>
                                </div>
                            </div>
                            <div class="product-action-position-1 text-center">
                                <div class="product-content">
                                    <h4><a href="product-details.html">Product Title</a></h4>
                                    <div class="product-price">
                                        <span>$ 100</span>
                                        <span class="old-price">$ 110</span>
                                    </div>
                                </div>
                                <div class="product-action-wrap">
                                    <div class="product-action-cart">
                                        <button title="Add to Cart">Add to cart</button>
                                    </div>
                                    <button data-toggle="modal" data-target="#exampleModal"><i class="icon-zoom"></i></button>
                                    <button title="Add to Compare"><i class="icon-compare"></i></button>
                                    <button title="Add to Wishlist"><i class="icon-heart-empty"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sessional-sale-area" hidden>
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-lg-6">
                        <div class="sessional-sale-content bg-gray">
                            <h2>Sessional Sale</h2>
                            <p>Conveniently repurpose web-enabled supply chains after technically sound action items. Progressively implement granular e-markets </p>
                            <div class="btn-style-3 btn-hover">
                                <a class="btn3-ptb-3 btn3-bg-white btn3-text-black animated" href="shop.html">Browse Store <i class="icofont-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="sessional-sale-banner">
                            <div class="sessional-sale-img">
                                <img src="assets/images/banner/banner-49.png" alt="">
                            </div>
                            <div class="sessional-sale-banner-content">
                                <h2>50%</h2>
                                <h3>Off</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial-brand-logo-area section-padding-11 pt-145" hidden>
            <div class="container-fluid">
                <div class="section-title-7 text-center mb-80">
                    <h2>We Love Our Client They Love Us</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="fashion-3-brand-logo">
                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-3 col-6 col-sm-4">
                                    <div class="single-brand-logo-3 mb-30">
                                        <img src="assets/images/brand-logo/brand-logo-19.png" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-3 col-6 col-sm-4">
                                    <div class="single-brand-logo-3 mb-30">
                                        <img src="assets/images/brand-logo/brand-logo-26.png" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-3 col-6 col-sm-4">
                                    <div class="single-brand-logo-3 mb-30">
                                        <img src="assets/images/brand-logo/brand-logo-26.png" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-3 col-6 col-sm-4">
                                    <div class="single-brand-logo-3 mb-30">
                                        <img src="assets/images/brand-logo/brand-logo-25.png" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-3 col-6 col-sm-4">
                                    <div class="single-brand-logo-3 mb-30">
                                        <img src="assets/images/brand-logo/brand-logo-22.png" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-3 col-6 col-sm-4">
                                    <div class="single-brand-logo-3 mb-30">
                                        <img src="assets/images/brand-logo/brand-logo-22.png" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-3 col-6 col-sm-4">
                                    <div class="single-brand-logo-3 mb-30">
                                        <img src="assets/images/brand-logo/brand-logo-20.png" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-3 col-6 col-sm-4">
                                    <div class="single-brand-logo-3 mb-30">
                                        <img src="assets/images/brand-logo/brand-logo-21.png" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-3 col-6 col-sm-4">
                                    <div class="single-brand-logo-3 mb-30">
                                        <img src="assets/images/brand-logo/brand-logo-21.png" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-3 col-6 col-sm-4">
                                    <div class="single-brand-logo-3 mb-30">
                                        <img src="assets/images/brand-logo/brand-logo-20.png" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-3 col-6 col-sm-4">
                                    <div class="single-brand-logo-3 mb-30">
                                        <img src="assets/images/brand-logo/brand-logo-19.png" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-3 col-6 col-sm-4">
                                    <div class="single-brand-logo-3 mb-30">
                                        <img src="assets/images/brand-logo/brand-logo-25.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testimonial-active-7">
                            <div class="single-testimonial-2 fashion-3-testimonial">
                                <div class="testimonial-img-slider-icon-3">
                                    <img class="inject-me" src="assets/images/icon-img/quotes-icon-3.svg" alt="">
                                </div>
                                <h4>The team was always polite</h4>
                                <p>Intrinsicly seize effective synergy for e-business best practices. Completely reconceptualize quality platforms after proactive relationships. Appropriately negotiate leading-edge e-tailers after technically sound leadership. Conveniently architect.</p>
                                <div class="client-info-2">
                                    <div class="testi-rating-2">
                                        <i class="icon-rating"></i>
                                        <i class="icon-rating"></i>
                                        <i class="icon-rating"></i>
                                        <i class="icon-rating"></i>
                                        <i class="icon-rating"></i>
                                    </div>
                                    <h3>James Fernandez</h3>
                                </div>
                            </div>
                            <div class="single-testimonial-2 fashion-3-testimonial">
                                <div class="testimonial-img-slider-icon-3">
                                    <img class="inject-me" src="assets/images/icon-img/quotes-icon-3.svg" alt="">
                                </div>
                                <h4>The team was always polite</h4>
                                <p>Intrinsicly seize effective synergy for e-business best practices. Completely reconceptualize quality platforms after proactive relationships. Appropriately negotiate leading-edge e-tailers after technically sound leadership.</p>
                                <div class="client-info-2">
                                    <div class="testi-rating-2">
                                        <i class="icon-rating"></i>
                                        <i class="icon-rating"></i>
                                        <i class="icon-rating"></i>
                                        <i class="icon-rating"></i>
                                        <i class="icon-rating"></i>
                                    </div>
                                    <h3>Binte Chuka</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="instagram-area section-padding-11 pt-120 pb-130">
            <div class="container-fluid">
                <div class="section-title-7 text-center mb-65">
                    <h2 class="bold">Follow Us On Instagram</h2>
                    <span class="mrg-dec">@hashop</span>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="single-instafeed mb-30">
                            <a href="#"><img src="assets/images/instafeed/instafeed-32.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single-instafeed mb-30">
                                    <a href="#"><img src="assets/images/instafeed/instafeed-33.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="single-instafeed mb-30">
                                    <a href="#"><img src="assets/images/instafeed/instafeed-35.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="single-instafeed mb-30">
                            <a href="#"><img src="assets/images/instafeed/instafeed-34.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="growing-story-area section-padding-11" hidden>
            <div class="container-fluid">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-lg-7 col-md-7 col-sm-7">
                        <div class="growing-story-content">
                            <h3>Our Fastest Growing Story</h3>
                            <p>Conveniently repurpose web-enabled supply chains after technically sound action items. Progressively implement granular e-markets </p>
                            <div class="btn-style-3 btn-hover">
                                <a class="btn3-ptb-3 btn3-bg-white btn3-text-black animated" href="shop.html">Browse Store <i class="icofont-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <div class="growing-story-img">
                            <img src="assets/images/banner/banner-50.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
